doctype html
html(lang="ru")
	head
		title pageTitle
		link(rel='stylesheet' href='dev/css/concat.css')
		meta(name="viewport" content="width=device-width initial-scale=1.0")
		meta(charset="utf-8")
	body
		div.section1
			div.swiper-container
				div.swiper-wrapper
					div.swiper-slide.slide1
						span.
							ПОСТРОИМ ДОМ ЗА 200 ТЫС.РУБЛЕЙ
					div.swiper-slide.
											Slide2
					div.swiper-slide.
											Slide3
					div.swiper-slide.
											Slide4
					div.swiper-slide.
											Slide5
				div.swiper-pagination
				div.swiper-button-next
				div.swiper-button-prev
		div.section2
			h2.
				Не теряйте времени, заказывайте сейчас!
		script.
			function loadscripts()
			{
			
			var tag = document.createElement("script");
			tag.src = "http://code.jquery.com/jquery-1.12.4.min.js";
			/*onload event*/
			tag.onload = function()
				{
					console.log('jquery loaded');

					var swiper = document.createElement("script");
					swiper.src = "dev/js/swiper.min.js";
					/*onload event*/
					swiper.onload = function()
					{
						var custom = document.createElement("script");
						custom.src = "dev/js/custom.js";
						document.getElementsByTagName("head")[0].appendChild(custom);
					}
					document.getElementsByTagName("head")[0].appendChild(swiper);


					
				}
			document.getElementsByTagName("head")[0].appendChild(tag);

			

			
			/*lazy loading CSS*/
			var tag = document.createElement("link");
			tag.rel = "stylesheet";
			tag.href = "dev/css/swiper.min.css";
			document.getElementsByTagName("head")[0].appendChild(tag);



			console.log('extra scripts are loaded');	
			}
			setTimeout(loadscripts, 2000);
			

