html, body
{
	height:100%;
}
body
{
	margin:0;
}
div.section1
{
	background-image:url('../img/img_compressed.jpg');
	background-repeat:no-repeat;
	//background-size:contain;
	//background-position:center;
	//background-size: 100%;

	height: 100%;
}