style.
	.section4{background:url(dev/img/od.jpg)}
h3 Ваш собственный дом
h4 уже через 7 дней за 4 простых шага

div.wrap
	div.wraphex
		div.hexagon
			i.fa.fa-check(aria-hidden="true")
		p.phead.
			Заключаем договор
		p.desc.
			Заключаем официальный договор, берем на себя все обязательства
	div.wraphex
		div.hexagon
			i.fa.fa-rub(aria-hidden="true")
		p.phead.
			Вносите предоплату
		p.desc.
			Всего 30% предоплаты и мы приступаем к строительству дома для вас
			
	div.wraphex
		div.hexagon
			i.fa.fa-bus(aria-hidden="true")
		p.phead.
			Создаем ваш дом
		p.desc.
			Строим ваш дом, привозим и устанавливаем на вашем участке
			
	div.wraphex
		div.hexagon
			i.fa.fa-calculator(aria-hidden="true")
		p.phead.
			Расчет остатка
		p.desc.
			Вы доплачиваете остаток по счету и мы вместе открываем шампанское!							
				