h3 Выставочная площадка и офис продаж

div#map
div.footer
	section.n1
		i.fa.fa-phone-square
		p Звоните нам
		p.phone.
			+7 (843) 202 34 49
	section.n2
		i.fa.fa-map-marker
		p Приезжайте к нам
		p.phone.
			Казань, Журналистов, 56
	section.n3
		i.fa.fa-envelope-square
		p Пишите нам
		p.phone.
			kazan-brus@yandex.ru						
