div.leftside
	h3 Мы отвечаем на все сообщения
	p.
		Если у вас появились вопросы, свяжитесь с нашими менеджерами заполнив эту форму.
	p.
		Мы не оставляем ни одно серьезное сообщение без ответа, поэтому, получив ваше сообщение, мы вскоре ответим.
div.rightside
	h3 Напишите нам
	form.formtext
		input(name='name'  required type='text' placeholder='Ваше имя')
		input(name='email' required type='text' placeholder='Ваша почта')
		input(name='title' type='text' placeholder='Тема письма')
		input(name='area' required type='textarea' placeholder='Сообщение' rows='10')
		input(type='submit' value='Отправить')
