style .section6{background:url(dev/img/ppl.jpg)}
h3 Мало проектов? У нас есть еще больше!
h4 
	a(href="tel:+78432023449") +7 (843) 202 34 49
p.
	Самый полный каталог мы вышлем вам по вашей заявке, где вы сможете выбрать дом вашей мечты.
	Не тяните! В скором времени ожидается подорожание каркасных домов дачной серии.
div.buttongroup
	button.green
		i.fa.fa-star(aria-hidden="true").
		span.
			Заказать полный каталог
	button.blue
		i.fa.fa-check(aria-hidden="true").
		span.
			Оставить заявку
	button.red
		i.fa.fa-phone(aria-hidden="true").
		span.
			Заказать звонок
div.swiper-container_test
				div.swiper-wrapper
					div.swiper-slide.slide1
						img(src='dev/img/av1.jpg')
						p.red.
							Заказала дом через сайт. Была очень удивлена профессионализмом менеджеров, которые рассказали мне про все варианты домов и в итоге я выбрала более подходящий дом к потребностям моей семьи. Отдельное спасибо за дополнительные опции дома. Спасибо!
							<br>
							<b>Виолетта Филенкова, Чеховский район</b>	
					div.swiper-slide
						img(src='dev/img/av2.jpg')
						p.red.
							Все понравилось - и скорость построки дома, и цена, и качество. Через неделю я уже был в собственном каркасном доме. Рекомендую всем своим друзьям, родным и знакомым.<br>
							<b>Василий Соколов, Воскресенск</b>
					div.swiper-slide
						img(src='dev/img/av3.jpg')
						p.red.
							Пока строоится большой дом нам нужно было где-то проводить время. Бытовка для нашей семьи вариант неподоходящий. Поэтому мы приняли решение заказать модульный дачный дом и не прогадали. Огромное спасибо менеджеру Николаю за обходительность и терпение.<br>
							<b>Семья Киричковых, Дубна</b>
				div.swiper-pagination
				div.swiper-button-next
				div.swiper-button-prev