style.
	.section3{background:url(dev/img/sky.jpg)}
h2 Статистика компании
div#stats
	
	div.item
		p.numeric.
			240
		p.desc.
			Построенных домов
	div.item
		p.numeric.
			6
		p.desc.
			Лет на рынке
	div.item
		p.numeric.
			169
		p.desc.
			Довольных клиентов
	div.item
		p.numeric.
			12
		p.desc.
			Строительных бригад
	div.item
		p.numeric.
			12
		p.desc.
			Разработанных объектов
	div.item
		p.numeric.
			11
		p.desc.
			Домов в неделю
	div.item
		p.numeric.
			70
		p.desc.
			Различных планировок
	div.item
		p.numeric.
			35
		p.desc.
			Партнеров и поставщиков		
hr
div.circles
	div.wrap
		div.wrapper
			div.arc.arc_start
			div.arc.arc_end
			span.hspan.
				95%
		div.under
			p.phead.
				Довольных клиентов				
			p.pdesc.
				У нас минимум рекламаций, поэтому такое количество довольных клиентов.
	div.wrap
		div.wrapper
			div.arc.arc_start_blue
			div.arc.arc_end_blue
			span.hspan.
				85%
		div.under
			p.phead.
				Импорто<br>замещение				
			p.pdesc.
				Большая часть материалов российского производства
	div.wrap
		div.wrapper
			div.arc.arc_start_green
			div.arc.arc_end_green
			span.hspan.
				77%
		div.under
			p.phead.
				Местных рабочих				
			p.pdesc.
				В команде работают исключительно местные специалисты			